*{
  margin: auto;
  padding: auto;
}

body{
  background-color: rgb(248, 223, 249);
}

section{
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 600px;
  height: 750px;
  margin-top: 100px;
  border-radius: 1px 50px 50px 50px;
}

section .card .pro{
  font-size: 30px;
  background-color: yellow;
  text-align: left;
  align-self: flex-start;
  margin: 0;
  width: 50px;

  /* width: 50px; */
}

section .card img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 50px;
  border: 5px solid aqua;
}

section .card h2{
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 7px;
}

section .card h3,h4{
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  padding-top: 8px;
}

section .card .bt1{
  background-color: aqua;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  border: 2px solid white;
  margin-top: 25px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

section .card .bt2{
  background-color: transparent;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: aqua;
  border: 2px solid aqua;
  margin-top: 25px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

section .card .link{
  text-align: center;
  font-size: 35px;
  padding-top: 15px;
}

section .card h5{
  color: white;
  font-size: 30px;
  font-family:sans-serif;
  display: flex;
  justify-self: start;
  padding-top: 25px;
  padding-left: 15px;
}

section .card .Skills{
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  display: flex;
  justify-self: start;
  padding-top: 22px;
  padding-left: 10px;
}